.search-bar {
  padding: 8px 35px 8px 15px !important;
  font-size: 16px !important;
  border: none;
  border-radius: 30px !important;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.5s !important;
}

.load {
  position: absolute;
  top: 50%;
}

.search-btn {
  font-size: 23px !important;
  transform: translate(210px, 5px);
  color: rgb(0, 0, 0) !important;
  border: none !important;
  border-radius: 50px !important;
  margin-left: 5px;
  padding: 2px 4px;
  background: rgba(0, 0, 0, 0.082) !important;
  cursor: pointer;
  position: absolute;
  transition: all 0.3s;
}

.search-btn:hover {
  background-color: #009dff !important;
  color: white !important;
}
