.navbar {
  font-family: "Poppins", sans-serif;
  background-color: #022c43 !important;
  font-size: 17px;
  line-height: 26px;
  text-transform: uppercase;
  /* box-shadow: 0 8px 6px -6px #ffd90031; */
  --webkit-box-shadow: 0;
  height: 80px;
  color: #ffd700 !important;
}

.navbar-toggler-icon {
  width: 20px;
  height: 20px;
}

.navbar-brand {
  color: #ffd700 !important;
}

.navbar-logo {
  font-size: 1.5rem;
  position: relative;
  top: -3px;
}

.nav-link {
  font-weight: 500 !important;
  transition: 0.5s;
  color: #ffffff;
  margin: 10px;
  font-size: 16px;
  transform: scale(0.9);
}
.nav-link:hover,
.dropdown:hover {
  color: #ffd700 !important;
  transform: scale(1) !important;
}

.dropdown-menu {
  background-color: #022c43be !important;
}

.dropdown-item {
  font-weight: 500 !important;
  transition: 0.5s;
  color: #ffffff;
  font-size: 15px;
  transform: scale(0.9) !important;
  margin: 10px auto;
}

.dropdown-item:hover {
  background: transparent;
  color: #ffd700;
  transform: scale(1) !important;
}
