.navbar {
  font-family: "Poppins", sans-serif;
  background-color: #022c43 !important;
  font-size: 17px;
  line-height: 26px;
  text-transform: uppercase;
  --webkit-box-shadow: 0;
  color: #ffd700 !important;
}

.navbar-toggler {
  background-color: rgba(232, 232, 232, 0.484) !important;
  margin: 5px 2px !important;
}

.navbar-collapse {
  background-color: #022c43 !important;
  padding: 20px 10px;
}

.navbar-toggler-icon {
  /* background-color: #ffffff !important; */
  /* color: white !important; */
}

.navbar-nav .active {
  color: #ffd700 !important ;
  text-decoration: none !important;
  text-decoration: underline !important;
}

.navbar-brand {
  color: #ffd700 !important;
  margin: auto 10px;
}

.navbar-logo {
  font-size: 1.5rem;
  position: relative;
  top: -3px;
}

.nav-link {
  font-weight: 500 !important;
  transition: 0.5s;
  color: #ffffff;
  margin: 10px;
  text-decoration: none;

  font-size: 16px;
  transform: scale(0.9);
}

.nav-link.active {
  text-decoration: none !important;
}

.dropdown {
  padding: 0;
  margin: 0;
}

.nav-link:hover,
.dropdown:hover {
  color: #ffd700 !important;
}

.dropdown-menu {
  background-color: #022c43be !important;
  z-index: 1;
}

.dropdown-item {
  font-weight: 500 !important;
  transition: 0.5s;
  color: #ffffff;
  font-size: 15px;
  transform: scale(0.9) !important;
  margin: 10px auto;
  z-index: 8;
}

.dropdown-item:hover {
  background: transparent;
  color: #ffd700;
}

.cart {
  margin: 10px;
}
