.category {
  flex-wrap: wrap;
  margin: auto;
}

.category .card {
  padding: 40px 0px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-direction: row;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: auto;
}

.category .card-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.category .product-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.category .card-title {
  font-size: 1rem;
  width: 90%;
}

.category .card-price {
  color: black;
  font-size: 1.3rem;
  font-weight: bold;
}

.category button {
  border-radius: 0;
  width: 100%;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 14px;
  font-weight: bold;
}

.category .card-text {
  color: rgb(90, 89, 89);
}

.category .card img:hover {
  transform: scale(0.9);
}

.category .card-img-top {
  width: 150px;
  height: 120px !important;
}

.loadmore {
  color: green;
  font-weight: bold;
  font-size: 20px !important;
}

@media (max-width: 800px) {
  .category .card-body {
    flex-direction: column;
    align-items: flex-start;
  }

  .category .card-img-top {
    margin: auto;
    width: 120px;
    height: 80px;
  }

  .category .card-text {
    display: none;
  }

  .filters {
    width: 100%;
    border: none;
  }
}
