.banner-img {
  margin-top: 60px;
}

.home-page h1 {
  color: gray;
  font-family: "Playfair Display", serif;
}

.home-page {
  display: flex;
  flex-wrap: wrap;
}
.home-page .card {
  padding: 40px 5%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* overflow: hidden; */
  flex-direction: row;
  border-left: none;
  border-right: none;
  border-top: none;
}

.home-page .card-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-page .product-img{
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-page .card-title {
  font-size: 1rem;
  /* width: 90%; */
}

.home-page .card-price {
  color: black;
  font-size: 1.3rem;
  font-weight: bold;
}

.home-page button {
  border-radius: 0;
  width: 100%;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 14px;
  font-weight: bold;
}

.home-page .card-text {
  color: rgb(90, 89, 89);
}

.home-page .card img:hover {
  transform: scale(0.9);
}

.home-page .card-img-top {
  width: 150px;
  height: 120px !important;
}
/* ==================
filters
============== */

.filters {
  border-right: 10px solid rgb(214, 214, 214);
  width: 20%;
}
.filters h4 {
  margin-top: 100px;
  color: gray !important;
  border-bottom: 1px solid rgba(128, 128, 128, 0.337);
}

.ant-checkbox-wrapper:first-of-type {
  margin-left: 8px;
}

.ant-checkbox-wrapper {
  margin: 2px;
}
.ant-radio-wrapper {
  margin-bottom: 5px !important;
  margin-left: 10px;
}

.filters button {
  background-color: black;
  width: 100%;
  border: none;
  border-radius: 0;
  margin-top: 20px;
}

.loadmore {
  color: green;
  font-weight: bold;
  font-size: 20px !important;
}

@media (max-width: 800px) {

  .home-page .card-body {
    flex-direction: column;
    align-items: flex-start;
  }



  .home-page .card-img-top {
    margin: auto;
    width: 120px;
    height: 80px;
  }

  .home-page .card-text {
    display: none;
  }

  .filters {
    width: 100%;
    border: none;
  }
}
