.banner-img {
  margin-top: 60px;
}

.home-page h1 {
  color: gray;
  font-family: "Playfair Display", serif;
}

.home-page {
  display: flex;
  flex-wrap: wrap;
}
.home-page .card {
  padding: 40px 5%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* overflow: hidden; */
  flex-direction: row;
  border-left: none;
  border-right: none;
  border-top: none;
}

.home-page .card-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-page .product-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-page .card-title {
  font-size: 1rem;
  width: 90%;
}

.home-page .card-price {
  color: black;
  font-size: 1.3rem;
  font-weight: bold;
}

.home-page button {
  border-radius: 0;
  width: 100%;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 14px;
  font-weight: bold;
}

.home-page .card-text {
  color: rgb(90, 89, 89);
}

.home-page .card-img-top {
  width: 150px;
  height: 120px !important;
}

.home-page .card:hover .card-title {
  color: rgb(0, 105, 210);
}
/* ==================
filters
============== */

.filters {
  background-color: #fff;
  border-right: 10px solid #a9a9a9;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 20%;
}

.filters h4 {
  color: #333;
  font-size: 1.2em;
  margin-bottom: 20px;
}

.category-filter {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.ant-checkbox-wrapper {
  /* display: block; */
  margin-bottom: 10px;
  cursor: pointer;
}

.ant-checkbox-inner {
  border-radius: 4px;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #1890ff;
  border-color: #1890ff;
}

.ant-checkbox-checked .ant-checkbox-inner::after {
  border: 1px solid #fff;
}

/* Price filter */
.filter .d-flex {
  display: flex;
  flex-direction: column;
}

.filter .mt-4 {
  margin-top: 16px;
}

/* Radio button styles */
.ant-radio-wrapper {
  display: block;
  margin-bottom: 10px;
  cursor: pointer;
}

.ant-radio-inner {
  border-color: #1890ff;
}

.ant-radio-inner::after {
  background-color: #1890ff;
}

/* Clear all button */
.home-page .clear-btn {
  background-color: #002343;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border: none;
  margin: 20px auto;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;

  &:hover {
    background-color: #0036b5 !important;
  }
}

/* yo */

.loadmore {
  color: green;
  font-weight: bold;
  font-size: 20px !important;
}

@media (max-width: 800px) {
  .home-page .card-body {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 15px;
  }

  .home-page .card-title {
    font-size: 1rem;
    width: 100%;
  }

  .home-page .card-img-top {
    margin: auto;
    width: 100px;
    height: 70px !important;
  }

  .home-page .card-text {
    display: none;
  }

  .filters {
    /* width: 100%;
    border: none; */
    display: none;
  }
}
